.main {
    margin-left: 208px;
}
.main .way span{
    font-size: 12px;
    color: #656565;
}
.main .order{
    float: left;
}
.main .yxyv{
    float: left;
    margin-left: 20px;
}
.main .cus{
    float: right;
}
.main .order,.yxyv,.cus{
    width: 320px;
    margin-top: 15px;
}
.main .order div{
    width: 100%;
    height: 40px;
    background: url("../../../static/front/images/button1.png")50% 50% no-repeat;
}
.main .yxyv div{
    width: 100%;
    height: 40px;
    background-image: url("../../../static/front/images/button2.png");
}
.main .cus div{
    width: 100%;
    height: 40px;
    background: url("../../../static/front/images/button3.png")50% 50% no-repeat;
}
.main .order li,.yxyv li,.cus li{
    margin: 0 auto;
    width: 228px;
}
.main .order li a,.yxyv li a,.cus li a{
    background: white;
    display: block;
    width: 228px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #333333;
}
.main .order li a:hover{
    background: #00A6E2;
    color: white;
}
.main .yxyv li a:hover{
    background: #00A6E2;
    color: white;
}
.main .cus li a:hover{
    background: #00A6E2;
    color: white;
}
.sds{
    height: 0; width: 0;
    margin-left: 146px;
    background: none;
    border: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
}
.main .tul{
    position: absolute;
    margin:-30px 0 0 230px;
    z-index: 1;
    box-shadow: 0 0 10px 1px #ccc;
    display: none;
}
.main .tul li{
    width: 210px;
}
.main .tul li a{
    width: 210px;
}
.main .free:hover .tul{
    display: block;
}
.main .pay:hover .tul{
    display: block;
}
.main .test:hover .tul{
    display: block;
}
.main .ocm:hover .tul{
    display: block;
}

/*浼氬憳鍩烘湰璁剧疆*/
.base-main{
    width: 1000px;
    margin-left: 208px;
}
.base-main .setting{
    width: 1000px;
    height: 622px;
    margin-top: 10px;
    background: white;
    box-shadow: 0 0 10px 1px #ccc;
}
.base-main .setting .setimg{
    width: 80px;
    height: 80px;
    border: none;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: white;
    position: absolute;
    margin:40px 0 0 460px;
}
.base-main .setb{
    width: 870px;
    height: 330px;
    margin: 0 auto;
}
.base-main .set-l,.set-r{
    width: 388px;
}
.base-main .set-l{
    float: left;
}
.base-main .set-r{
    float: right;
}
.base-main .setb span{
    display: block;
    float: left;
    width: 74px;
    font-size: 14px;
    line-height: 30px;
    color: #656565;
    text-align: right;
}
.base-main .setb input{
    width: 300px;
    height: 30px;
    margin-left: 12px;
    background: #f3f3f3;
    border: none;
    text-indent: 9px;
    border-radius: 2px;
}
.base-main .setb textarea.applytx{
    width: 782px;
    padding: 7px 2px;
    height: 96px;
    margin-left: 12px;
    background: #f3f3f3;
    border: none;
    border-radius: 2px;
    resize: none;
}
.base-main .setb select{
    width: 300px;
    height: 30px;
    margin-left: 12px;
    background: #f3f3f3;
    border: none;
    text-indent: 9px;
    border-radius: 2px;
}
.base-main .setb select option{
    background: white;
}
.base-main .setb .setll{
    float: left;
}
.base-main .setb .setll input{
    width: 782px;
}
.base-main .btnbox{
    width: 160px;
    height: 40px;
    margin: 40px auto;
    font-size: 16px;
}
.base-main .btnbox .save{
    font-size: 14px;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    background: #00A1E5;
}
.base-main .btnbox .cancel{
    width: 140px;
    height: 40px;
    color: #00A1E5;
    text-align: center;
    background: white;
    border: none;
}
/*娣诲姞鍥剧墖鐨勬牱寮�*/
.file {
    width: 80px;
    height: 80px;
    border: none;
    text-align: center;
    border-radius: 40px;
    display: inline-block;
    /*overflow: hidden;*/
    color: #999999;
    -ms-text-decoration: none;
    text-decoration: none;
    line-height: 126px;
    font-size: 12px;
    margin-left: 18px;
}
.file input {
    position: absolute;
    font-size: 12px;
    right: 0;
    top: 0;
    opacity: 0;
    -ms-filter:"alpha(opacity=0)";
}
.file:hover {
    border-color: #78C3F3;
    color: #004974;
    -ms-text-decoration: none;
    text-decoration: none;
}
.base-main .setimg a{
    color: white;
    line-height: 80px;
    position:absolute; top:0px; left:-18px;
    z-index:10;background:#000;  filter:alpha(opacity=60);-moz-opacity:0.5;opacity: 0.5;
    display: none;
}
.base-main .setimg:hover a{
    display: block;

}
.base-main .setimg #preview5{
    border-radius: 40px;
}


/*瀵嗕繚璁剧疆*/
.security-main{
    width: 1000px;
    margin-left: 208px;
}
.security-main .security-setting{
    width: 1000px;
    height: 522px;
    margin-top: 10px;
    background: white;
    box-shadow: 0 0 10px 1px #ccc;
}
.security-main .security-setting .sec-set{
    width: 519px;
    height: 376px;
    margin: 0 0 0 200px;
    padding: 25px 0 0 0;
}
.security-main .security-setting .sec-set .ss-item{
    height: 40px;
    margin-top: 35px;
}
.security-main .security-setting .sec-set .setn{
    display: block;
    float: left;
    width: 116px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: right;
    color: #656565;
}
.security-main .security-setting .sec-set input{
    width: 370px;
    height: 40px;
    border: none;
    margin-left: 26px;
    background: #F3F3F3;
    text-indent: 9px;
}
.security-main .security-setting .sec-set select{
    width: 370px;
    height: 40px;
    border: none;
    margin-left: 26px;
    background: #F3F3F3;
    text-indent: 9px;
}
.security-main .security-setting .btnbox{
    width: 160px;
    height: 40px;
    margin: 40px auto;
    font-size: 16px;
}
.security-main .security-setting .btnbox .save{
    font-size: 14px;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    background: #00A1E5;
}
.security-main .security-setting .btnbox .cancel{
    width: 140px;
    height: 40px;
    color: #00A1E5;
    text-align: center;
    background: white;
    border: none;
}

/*瀵嗙爜璁剧疆*/
.pwd-main{
    width: 1000px;
    margin-left: 208px;
}
.pwd-setting {
    width: 1000px;
    height: 382px;
    margin-top: 10px;
    background: white;
    box-shadow: 0 0 10px 1px #ccc;
}
.pwd-setting .pwd-input{
    width: 744px;
    height: 210px;
    margin: 0 auto;
    padding: 52px 0 0 0;
}
.pwd-setting .pwd-input .pwd-item{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.pwd-setting .pwd-input .pwd-item .setn{
    display: block;
    float: left;
    width: 88px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #656565;
}
.pwd-setting .pwd-input .pwd-item input{
    width: 298px;
    height: 40px;
    border: none;
    background: #F3F3F3;
    text-indent: 9px;
    font-size: 14px;
    color: #333333;
    margin-left: 20px;
}
.pwd-setting .pwd-input .pwd-item .note{
    display: block;
    float: right;
    width: 304px;
    font-size: 11px;
    color: #EC0707;
}
.pwd-setting .btnbox{
    width: 160px;
    height: 40px;
    margin: 40px auto;
    font-size: 16px;
}
.pwd-setting .btnbox .save{
    width: 140px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    color: white;
    text-align: center;
    background: #00A1E5;
    cursor: pointer;
}
.pwd-setting .btnbox .cancel{
    width: 140px;
    height: 40px;
    color: #00A1E5;
    text-align: center;
    background: white;
    border: none;
}