
.registbox{
    width: 782px;
    height: 540px;
    border-radius: 8px;
    margin: 80px auto;
    padding: 15px 0 0 0;
    background-color: white;
    box-shadow: 0 3px 5px 2px #ccc;
}
.regist-top{
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #ffb4a8;
    background: #fef2f2;
    color: #666;
    padding: 2px 8px;
    width: 720px;
    margin: 0 auto 15px auto;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs li{
    width: 220px;
    text-align: center;
    margin: 0 0 0 30px;
}
.tab .nav-tabs li a{
    font-size: 16px;
    color: #333333;
    background: #fff;
    margin: 0;
    padding: 20px 25px;
    border: none;
    text-transform: uppercase;
    position: relative;
}
.tab .nav-tabs li a:hover{
    border-top: none;
    border-bottom: none;
    border-right-color: #ddd;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover{
    border: none;
    border-bottom: 1px solid #bfe7cf;
}
.tab .nav-tabs li.active a:before{
    content: "";
    width: 58%;
    height: 4px;
    margin: 0 auto;
}
.tab .nav-tabs li.active a:after{
    content: "";
    border-bottom: 6px solid #02a040;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: 0;
    left: 43%;
}
.tab .tab-content{
    color: #333333;
    padding: 20px;
    border-top: none;
}
.nav-tabs{
    border-bottom: none;
}
.tab .gologin {
    float: right;
    margin: 20px 40px 0 0;
    font-size: 14px;
    color: #656565;
}
.tab .gologin a{
    color:#0097DB;
}
.tab-pane .list{
    margin:10px 0 0 50px;
    font-size: 14px;
    height: 40px;
}

.tab-pane .list-name{
    width: 114px;
    line-height: 40px;
    text-align: right;
    float: left;
}
.tab-pane .list img{
    position: relative;
    top:-35px;
    right: 86px;
}
.tab-pane div .must{
    color: #ED1F1F;
}
.tab-pane div input{
    width: 230px;
    height: 40px;
    float: left;
    text-align: left;
    margin-left: 30px;
    border: 1px solid #CCCCCC;
}

.tab-pane div input[type=text],.tab-pane div input[type=password]{
    text-indent: 1em;
}
.tab-pane div button{
    width: 109px;
    height: 40px;
    font-size: 12px;
    color: white;
    border: none;
    background-color: #0097DB;
    position: relative;
    left:15px;
}
.comment{
    font-size: 12px;
    color: red;
}
.tab-pane div .comment{
    width: 286px;
    float: right;
    font-size: 12px;
    color: red;
    position: relative;
    top:6px;
    right: 28px;
}
.tab-pane .doregistr,.back-out{
    width: 160px;
    height: 40px;
    text-align: center;
    border: none;
}
.tab-pane .doregistr{
    color: white;
    font-size: 16px;
    background: #00A1E5;
    border-radius: 4px;
}
.tab-pane .back-out{
    background: white;
    font-size: 14px;
    color: #00A1E5;
}

#yzm,#e-yzm{
    cursor: pointer;
    display: inline-block;
    width: 109px;
    height: 40px;
    text-align: center;
    background-color: #00A1E5;
    color: #ffffff;
    border: none;
    margin-left: 15px;
}
.password_level>ul{
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	margin-left: 28px;
}
.password_level>ul>li{
	float:left;
	width:69px;
	height:16px;
	border:1px solid #aaa;
	margin-right: 5px;
	display: inline-block;
}
.password_level label{
	color: #333;
	font-weight: 400;
	width: 114px;
    line-height: 40px;
    text-align: right;
}
#code1,#code2
{
    font-family:Arial,sans-serif;
    font-style:italic;
    font-weight:bold;
    border:0;
    letter-spacing:2px;
    color:blue;
    width:60px;
    margin-right: 20px;text-align: center;
}.tab .gologin{position: relative;top: -61px}
#wsxx,#yxxx{
    text-align: center;
    color: red;
    height: 10px;
}
