

/* flexslider */
.flexslider{position:relative;height:500px;overflow:hidden;background:url(../../front/images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:500px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../../front/images/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:66px;background:url(../../front/images/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:66px;background:url(../../front/images/next.png) center center no-repeat;}








#header{
    width: 100%;
    height: 528px;
    margin-top: 5px;
}
body{
    background: #ededed;
}
.footer {
    margin-top: -87px;
}
.wedo-box1{
    width: 1160px;
    height: 1043px;
    position: relative;
    background: white;
    margin: 0 auto;
    top: -103px;
    box-shadow: 0 0 4px #999;
    z-index: 2;
}
.wedo-box1_2{
    width: 925px;
    height: 881px;
    background: url("../../../static/front/images/wedo02.jpg") no-repeat;
    margin: 0 auto;
}
.wedo-box2{
    width: 1160px;
    height: 660px;
    margin: 0 auto;
    position: relative;
    top: -96px;
    /*padding: 0 20px 20px 20px;*/
    box-shadow: 0 0 4px #999;
    background: white;
}
.wedo-box2_1{
    width: 1146px;
    height: 219px;
    background: url("../../../static/front/images/wedo03.jpg") no-repeat;

    margin:  0 auto 0 auto;
    position: relative;
    top: 45px;
}
.wedo-box2_2{
    height: 377px;
    width: 1146px;
    background: url("../../../static/front/images/wedo04.jpg") no-repeat;
    margin:  53px auto 0 auto;
}