body{
    min-width: 1170px;
}
#Ulist tr:nth-of-type(odd){
    background: #F5F5F5;
    height: 40px;
    text-align: center;
}
#Ulist tr:nth-of-type(even){
    background: #fdfdfd;
    height: 50px;
}
select{
    line-height: 43px;
    height: 43px;
    color: #fff;
}
select{
    margin-left: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background: url(../../../static/background/images/li-Arrow.jpg) no-repeat scroll right center transparent;
}
table{
    border-collapse: collapse;
}
th,td{
    padding: 0;
}