body{
    min-width: 1170px;
}
.contener .contentbox .inner .topbox{
    width: 900px;
    margin: 15px 0 0 80px;
    position: absolute;
}

.contener .contentbox .inner .setnews,
.setproduct,.fors,.setkeys,.setarticale,
.setorder,.setvideo,.setconsult,.setevaluate,.setsubject{
    width: 157px;
    height: 37px;
    float: left;
    color: white;
    font-family: "微软雅黑",sans-serif;
    font-size: 16px;
    line-height: 37px;
    background-color:#1893D3 ;
    border: 1px solid rgba(193, 192, 207, 0.27);
    text-align: center;
}
.contener .contentbox .inner .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .contentbox .inner li{
    text-align: center;
    border: 1px solid rgba(193, 192, 207, 0.27);
    margin: 1px 0 0 0;
    width: 157px;
    height: 28px;
    line-height: 28px;
    background-color: #edf7f9;
}
.contener .contentbox .inner a{
    color: #333333;
    font-family: "宋体",sans-serif;
    font-size: 12px;
    list-style: none;
    text-decoration:none;
}
.contener .contentbox .inner .lastbox{
    width: 900px;
    padding: 200px 0 0 0;
}