body{
    min-width: 1170px;
}
input::-ms-clear{display:none;}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select {

    /*-webkit-appearance: menulist;*/
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;



}
select::-ms-expand { display: none; }
 select{
    -webkit-writing-mode: horizontal-tb;
}
th select,li select{
    margin-left: 0;

    height: 42px;
}
.contener{
    width: 1200px;
    padding-top: 8px;
    margin: 0 auto;

}
.left-imgxtgl{
    margin-left: 17px;
}
.contener .leftbox{
    width: 207px;
    height: auto;
    background-color: #edf7f9;
    font-family: "寰蒋闆呴粦",sans-serif;
    font-size: 16px;
    float: left;
}
.contener .leftbox li{
    width: 207px;
    height: 38px;
    text-align: center;
    color: black;
}
ul{
    list-style: none;
}
.contener .leftbox  ul li{
    display: block;
}

.contener .leftbox .nav .system,.content,.product,.order,.member,.adv,.pagefoot,.key,.nothing{
    border: 1px solid #ccc;
}
/*绯荤粺绠＄悊鐨勬爣棰樻爮*/
.original{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.change{
    width: 206px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #ffffff;
    background-color: #1893D3;
}
.contener .leftbox .nav .system .system-img {
    float: left;
    margin: 5px 0 0 24px;
}
.contener .leftbox .nav .system .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .system-content{
    text-align: center;
    line-height: 38px;
}
.contener .leftbox .system-content a{
    color:#333333;
}

/*鍐呭绠＄悊鐨勬爣棰樻爮*/
.contener .leftbox .nav .content .content-title{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.contener .leftbox .nav .content .content-img {
    float: left;
    margin: 12px 0 0 24px;
}
.contener .leftbox .nav .content .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .content-content{
    text-align: center;
}
.contener .leftbox .content-content{
    line-height: 38px;
}
.contener .leftbox .content-content a{
    color:#333333;
}

/*浜у搧绠＄悊*/
.contener .leftbox .nav .product .product-title{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.contener .leftbox .nav .product .product-img {
    float: left;
    margin: 10px 0 0 24px;
}
.contener .leftbox .nav .product .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .product-content{
    text-align: center;
}
.contener .leftbox .product-content{
    line-height: 38px;
}
.contener .leftbox .product-content a{
    color:#333333;
}

/*璁㈠崟绠＄悊鐨勬爣棰樻爮*/
.contener .leftbox .nav .order .order-title{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.contener .leftbox .nav .order .order-img {
    float: left;
    margin: 9px 0 0 19px;
}
.contener .leftbox .nav .order .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .order-content{
    text-align: center;
}
.contener .leftbox .order-content{
    line-height: 38px;
}
.contener .leftbox .order-content a{
    color:#333333;
    cursor: pointer;
}
/*浼氬憳绠＄悊鐨勬爣棰樻爮*/
.contener .leftbox .nav .member .member-title{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.contener .leftbox .nav .member .member-img {
    float: left;
    margin: 10px 0 0 21px;
}
.contener .leftbox .nav .member .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .member-content{
    text-align: center;
}
.contener .leftbox .member-content{
    line-height: 38px;
}
.contener .leftbox .member-content a{
    color:#333333;
}

/*骞垮憡绠＄悊鐨勬爣棰樻爮*/
.contener .leftbox .nav .adv .adv-title{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.contener .leftbox .nav .adv .adv-img {
    float: left;
    margin: 11px 0 0 23px;
}
.contener .leftbox .nav .adv .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .adv-content{
    text-align: center;
}
.contener .leftbox .adv-content{
    line-height: 38px;
}
.contener .leftbox .adv-content a{
    color:#333333;
}
/*椤佃剼绠＄悊鐨勬爣棰樻爮*/
.contener .leftbox .nav .pagefoot .pagefoot-title{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.contener .leftbox .nav .pagefoot .pagefoot-img {
    float: left;
    margin: 14px 0 0 24px;
}
.contener .leftbox .nav .pagefoot .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .pagefoot-content{
    text-align: center;
}
.contener .leftbox .pagefoot-content{
    line-height: 38px;
}
.contener .leftbox .pagefoot-content a{
    color:#333333;
}

/*鍏抽敭璇嶇鐞嗙殑鏍囬鏍�*/
.contener .leftbox .nav .key .key-title{
    width: 207px;
    height: 52px;
    text-align: center;
    margin:auto;
    line-height:52px;
    color: #333333;
}
.contener .leftbox .nav .key .key-img {
    float: left;
    margin: 10px 0 0 27px;
}
.contener .leftbox .nav .key .point{
    margin: 0 24px 0 0;
    float: right;
}
.contener .leftbox .key-content{
    text-align: center;
}
.contener .leftbox .key-content{
    line-height: 38px;
}
.contener .leftbox .key-content a{
    color:#333333;
}
.contener .leftbox .nav .nothing .title{
    width: 207px;
    height: 52px;
}
.contener .leftbox .nav .list:hover{
    background-color: #24a1e4;
}

.contentbox{
    float: right;
}
.contentbox .top span{
    color: #656565;
    font-family: 寰蒋闆呴粦,sans-serif;
    font-size: 11px;

}
.contentbox .inner{
    width: 980px;
    height: 723px;
    background-color: white;
}
.contentbox .inner .title{
    background-color: #24a1e4;
    height: 40px;
    line-height: 40px;
    color: white;
}
.contentbox .inner .nei{
    font-family: "寰蒋闆呴粦",sans-serif;
    letter-spacing: 2px;
    color: #333333;
    font-size: 16px;
    text-align: center;
}
.contentbox .inner .nei .in{
    margin: 30px 0 0 0;
    position: relative;
}
.contentbox .inner .nei .in .in-static,.in-active,.in-sign,.in-num,.in-web,.in-mst{
    text-align: center;
    float: left;
    width: 110px;
    margin: 9px 0 0 95px;
}
.contentbox .inner .nei .in .in-sign,.in-web{
    letter-spacing: 11px;
}
.contentbox .inner .nei input{
    border: 1px solid #ccc;
}
.contentbox .inner .nei .in .in-num{
    letter-spacing: 9px;
}
.contentbox .inner .nei .in .in-mst{
    letter-spacing: 5.5px;
}
.contentbox .inner .nei input{
    margin: 0 0 0 -220px;
    width: 530px;
    height: 38px;
    border-radius:8px;
    padding: 0 0 0 10px;
    outline: none;
}
.contentbox .inner .nei span.note{
    display: block;
    line-height: 38px;
    color: #F70707;
    font-family: "寰蒋闆呴粦",sans-serif;
    font-size: 12px;
    margin: 0 0 0 5px;
    position: absolute;
    top: 0px;
    left: 750px;
}
.contentbox .inner .nei .save,.exit{
    border: none;
    width: 91px;
    height: 36px;
    color: white;
    background-color: #24a1e4;
}
.contentbox .inner .nei .btnbox{
    margin: 110px 0 0 0;
}
.contentbox .inner .nei .exit{
    margin: 0 0 0 90px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #BDBDBD;font-size: 14px;opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #BDBDBD;font-size: 14px;opacity: 1;
}
input:-ms-input-placeholder{
    color: #BDBDBD;font-size: 14px;opacity: 1;
}
input::-webkit-input-placeholder{
    color: #BDBDBD;font-size: 14px;opacity: 1;
}

